/*Pagina do Portifolio (Frankstein)*/
#paineis-portifolio {
    margin-top: 20px;
}

.titulo-depoimentos {
    font-size: 24px;
    background-color: #0275d8;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 0;
    text-align: center;
    font-weight: bold;
    color: rgb(233, 232, 232);
}

.grupo-radio, .select-contato{
    width: 50%;
    display: inline;
    vertical-align: top;
}

.grupo-radio .radio:first-child{
    margin-top: 0;
}

.botao-enviar-form {
    margin-top: 10px;
}